*{
    margin: 0;
    padding: 0;
}
html {
    /* 
      16 pixeli=100%
      10%=62.5% */
    font-size: 62.5%;
  }
  body{
      box-sizing: border-box;
      position: relative;
      background-color: #8d6262; 
  }
  .wrapper{
    background-color: rgb(161, 161, 161, .4);
    height: 5rem; 
  }
  .nav{
      margin: 0 auto;
      width: 80%;
      position: relative;
  }
.nav>*{
    position: absolute;
    font-size: 2rem;
    top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}
/* ----- */
a:link,
a:visited{
text-decoration: none;
}
a:hover{
    color: black;
}

.logo-prim{
  color: #393232;
  font-size: 3rem;
}
.logo-span{
 color: #eff7e1;
 font-size: 2rem;
}
.logo-prim:hover .logo-span{
  transform: translateY(.9rem);
}
 
.content{
    left: 15rem;
    width: 20rem;
    top:1.9rem;  
}
.content>*{
  color: #393e46;
}

/* ----- */
.search{
    right: 0;
    top:1.5rem;
    
}
.input{
  margin-right: 1.5rem;
  border: none;
  border-radius: 5rem;
  padding: .6rem .5rem .5rem .9rem;
  background-color:rgb(57,62,70, .5);
  
}
.input::-webkit-input-placeholder{
  color:rgb(238,238,238,.5);
}
.input:focus:invalid{
  border-bottom: .3rem solid red ;
}
.input:focus{
  outline: none;
  box-shadow: 0 1rem 2rem rgba(57,62,70, .1);
  border-bottom: .3rem solid rgb(238,238,238,.5);
}
.icon{
  font-size: 2rem;
  color:rgb(238,238,238,.5) ;
  position: relative;
  top:.4rem;
  font-size: 2.3rem;
}
.icon:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.icon:active{
  transform: scale(1.1);
}
@media only screen and (max-width: 800px){
  .nav>*{
    font-size: 2rem;
    top: 1rem;
    display: flex;
    flex-direction: column;
}
.wrapper{
  height: 100vh; 
  width: 15rem;
}
.logo-prim{
  font-size: 2.5rem;
}
.logo-span{
 font-size: 1.7rem;
}
.logo{
  display: flex;
  flex-direction:row;
  
}
.logo-prim:hover .logo-span{
  transform: translateY(.65rem);
}
.content{
  left: .1rem;
  width: 20rem;
  top:5rem;  
  text-align: left;
}
.search{
  left:-.8rem;
  top:16rem;
  
}
.input{
  width: 9rem;

}

.icon{
  top:-2.3rem;
  font-size: 2.3rem;
  left: 11.5rem;
}
  .icon:hover{
  transform: scale(1.1);
  cursor: pointer;
}
  .icon:active{
  transform: scale(1);
}



}
@media only screen and (max-width: 480px){
  .nav>*{
    font-size: 1rem;
    top: 1rem;
    display: flex;
    flex-direction: column;
}
.wrapper{
  height: 100vh; 
  width: 30%;
}
.logo-prim{
  font-size: 2rem;
}
.logo-span{
 font-size: 1.3rem;
  
}
.logo{
  display: flex;
  flex-direction: row;
}
.logo-prim:hover .logo-span{
  transform: translateY(.6rem);
  
}
.content{
  top:5rem;
  font-size:1.5rem;
}
.search{
  left:-.8rem;
  top:12rem;
  
}
.input{
  width: 6rem;

}

.icon{
  top:-2.1rem; 
  font-size: 2rem;
  left: 9rem;

}

}
@media only screen and (max-width: 400px){
  
  .wrapper{
  background:transparent;
} 
}







/* for help 😁 */
/* https://codepen.io/StefanaMariaF/pen/abBpOVP */
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
/* https://css-tricks.com/almanac/selectors/i/invalid/ */
/* https://css-tricks.com/almanac/selectors/p/placeholder/ */
/* https://www.w3schools.com/cssref/sel_placeholder.asp */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Child_combinator */
/* https://stackoverflow.com/questions/2094508/is-there-a-css-selector-for-the-first-direct-child-only */
/* https://www.w3schools.com/cssref/sel_active.asp */
/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
