@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
   box-sizing: border-box;
}
body{
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    margin: 0;
}
.container{
    display:flex;
    /* 90 din dimendiunea ecranului */
    width: 90vw;
}
.panel{
    /* pozitioneaza imaginea in centru */
    background-position: center;
    /* trebuie sa vedem, deci seteaza marimea dar acel 100? */
    background-size: auto 150%;
    /* da in acest panel, sa se repete imaginea, am spus ca nu */
    background-repeat: no-repeat;
    /* 90 din ecanul pe care sunt afisate */
    height: 90vh;
    /* flex, dimensiunea lui */
    flex: 0.2;
    margin:10px;
    border-radius: 50px;
    position: relative;
    /* am pus efectl de trantietie in momentul 0, pe flex!! */
    transition: flex 0.2s ease-in;
 
    
       
}
.panel h3{
    position: absolute;
    left:50px;
    bottom: 20px;
    font-weight: 500;
    opacity: 0;
 
}
.panel.activ{
    flex:5;
}
.panel.activ h3{
    opacity: 1;
}
.panel__1{
background-image: linear-gradient(to right, #5433FF,#20BDFF,#A5FECB);
}
.panel__2{
    background-image: linear-gradient(to right, #12c2e9,#c471ed,#f7797d);
}
.panel__3{
    background-image: linear-gradient(to right, #C6FFDD,#FBD786,#f7797d);
}
.panel__4{
    background-image: linear-gradient(to right, #f12711,#f5af19);
}
.panel__5{
    background-image: linear-gradient(to right,#009FFF,#ec2F4B);
}

@media(max-width : 500px){
    .container{
        width: 100vw;
    }
    /* asta va plide am patrulea element si al cincilea!!!! */
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }

}
